/* decoration */
$black: rgb(0, 0, 0);
$red: rgb(213, 0, 8);
$grey1: rgb(218, 217, 222);
$gray2: rgb(181, 180, 186);
$gray3: rgb(115, 114, 120);
$gray4: rgb(64, 63, 69);
$yellow: rgb(210, 235, 35);

@mixin px2px($name, $px) {
  #{$name}: round($px / 2) * 1px;
  [data-dpr='2'] & {
    #{$name}: $px * 1px;
  }
  [data-dpr='2.5'] & {
    #{$name}: round($px * 2.5 / 2) * 1px;
  }
  [data-dpr='2.75'] & {
    #{$name}: round($px * 2.75 / 2) * 1px;
  }
  [data-dpr='3'] & {
    #{$name}: round($px * 3 / 2) * 1px;
  }
  [data-dpr='4'] & {
    #{$name}: $px * 2px;
  }
}
