/* decoration */
$black: rgb(0, 0, 0);
$red: rgb(213, 0, 8);
$grey1: rgb(218, 217, 222);
$gray2: rgb(181, 180, 186);
$gray3: rgb(115, 114, 120);
$gray4: rgb(64, 63, 69);
$yellow: rgb(210, 235, 35);

@mixin px2px($name, $px) {
  #{$name}: round($px / 2) * 1px;
  [data-dpr='2.0'] & {
    #{$name}: $px * 1px;
  }
  [data-dpr='2.5'] & {
    #{$name}: round($px * 2.5 / 2) * 1px;
  }
  [data-dpr='2.6'] & {
    #{$name}: round($px * 2.6 / 2) * 1px;
  }
  [data-dpr='2.7'] & {
    #{$name}: round($px * 2.7 / 2) * 1px;
  }
  [data-dpr='2.8'] & {
    #{$name}: round($px * 2.8 / 2) * 1px;
  }
  [data-dpr='2.9'] & {
    #{$name}: round($px * 2.9 / 2) * 1px;
  }
  [data-dpr='3.0'] & {
    #{$name}: round($px * 3 / 2) * 1px;
  }
  [data-dpr='3.5'] & {
    #{$name}: round($px * 3.5 / 2) * 1px;
  }
  [data-dpr='4.0'] & {
    #{$name}: $px * 2px;
  }
}

// 状态栏高度
$status-height: 1.7067rem;

@mixin origin($section) {
  @if $section == 1 {
    transform-origin: 6.083333rem /* 657/108 */ 7.5rem /* 810/108 */;
  }
  @if $section == 2 {
    transform-origin: 9.055556rem /* 978/108 */ 2.222222rem /* 240/108 */;
  }
}