$font1color: #2d2f33;
$font2color: #5a5e66;
$font3color: #878d99;
$font4color: #b4bccc;

$bb1color: #d8dce5;
$bb2color: #dfe4ed;
$bb3color: #e6ebf5;
$bb4color: #edf2fc;

$mainColor: #409eff;
$successColor: #67c23a;
$warnColor: #eb9e05;
$dangerColor: #fa5555;
$infoColor: #878d99;
